<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All invoices</title>
</head>

<body>
    <h3>All invoices below:</h3>
    <ul>
        <% invoices.forEach((invoice) => {%>
            <li>
                <a href="invoices/<%= invoice._id %> ">
                    <%=invoice.service%>
                        <%=invoice.total %>
                </a>
            </li>
            <%}) %>
    </ul>
</body>

</html>